.horizontal-stacked-bar-left {
  flex: 1;

  .panel-item {
    border: 1px solid black;
    padding: 15px;
  }

  input {
    width: 200px;
    height: 20px;
    opacity: 1;
  }
  button {
    margin: 15px;
  }
}