.bar-wrapper {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh;
}
.bar-right {
    flex: 1;
    padding-left: 100px;
    padding-top: 50px;
    background-color: #e2e2e2;
    min-height: 520px;
}

line.valueLine {
    stroke: #fed966;
    stroke-width: 3;
    stroke-dasharray: 3 6;
  }